html{
    width: 100%;
    min-height: 100%;
    background-image: url('../img/fondo.png');
}

body{
    background-image: url('../img/fondo.png');
    width: 100%;
    min-height: 100%;
}

#divAddTipo{
    width: 100%;
    text-align: center;
}


#formAddTipo{
    text-align: center;
    display;
    width: 100%;
}


#idTxtTipo{
    width:50%;
    text-align: center;
    margin: 0.5em auto;
}

#btnAgregrTipoForm{
    width:50%;
    text-align: center;
    margin: 0.5em auto;
}
