html{
    width: 100%;
    min-height: 100%;
    background: #000000
}

nav#navTipo {
  background-color: #ff0032;
  padding: 10px 0; }
  nav#navTipo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; }
  nav#navTipo li {
    display: inline-block;
    border-right: solid 1px #cc0028;
    padding: 0 5px; }

nav#navTipo a:hover {
      background-color: #e6002d;
    text-decoration-color: #000000;
    text-color:#000000;
      color: #fff;
}

a:link {
    text-decoration: none;
    text-color: #000000;
}
a:vicited {
    text-decoration: none;
    text-color: #000000;
}
a:actived {
    text-decoration: none;
    text-color: #000000;
}


/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 900px) {
  #nav-trigger {
    display: block; }

  nav#navTipo {
    display: none; }

  nav#nav-mobile {
    display: block; }
}
