html{
    width: 100%;
    min-height: 100%;
    background: #000000
}

body{
    background-image: url('../img/fondo.png');
    width: 100%;
    min-height: 100%
}

nav#navTipo {
  background-color: #ff0032;
  padding: 10px 0; }
  nav#navTipo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; }
  nav#navTipo li {
    display: inline-block;
    border-right: solid 1px #cc0028;
    padding: 0 5px; }

a:link {
    background-color: #000000;
    text-decoration: underline;
    text-color: #000000;
}
a:vicited {
    background-color: #000000;
    text-decoration: underline;
    text-color: #000000;
}
a:actived {
    background-color: #000000;
    text-decoration: underline;
    text-color: #000000;
}
a:hover{
    background-color: #000000;
    text-decoration: underline;
    text-color: #000000;
}

section{
    width: 100%;
}

#divFucntionTipo{
    width: 95%;
    display: inline-block;
    vertical-align: top;
    width: 88%;
    border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 2px  double #ff002b;
}


/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 900px) {
  #nav-trigger {
    display: block; }

  nav#navTipo {
    display: none; }

  nav#nav-mobile {
    display: block; }
}
