html{
    width: 100%;
    min-height: 100%;
}


body{
    background-image: url('../img/fondo.png');
    width: 100%;
    min-height: 100%
}

header{
    height: 25%;
    width: 100%;
    text-align: center;
}

#AdivImageLogo{
    width:50%;
    height:100%;
    display: inline-block;
    margin: 0 auto;
    padding-left: 35%;
}

#AimgLogoMTB{
    width:70%;
    height:3%;
    display: inline-block;
    margin: 0 auto
}

#AdivCerrarSesion{

    display: inline-block;
    vertical-align: top;
    padding-left: 20%;

}

#AsecCont{
    width: 100%;
    min-height: 100%;
}

#AdivCont{
    width: 100%;
    min-height: 100%;
    position: relative;
}

/*Inicio de la configuracion del divMenu y sus elementos*/
#AdivMenu{

    display: inline-block;
    min-height: 100%;
    width: 10%;
    margin-left: 0.5%;
    position:fixed;
}

#AdivMenu ul{
    width: 100%;
}

#AdivMenu li{
    width: 90%;
    display: inline-block;
}

#AdivMenu li input{
    width: 100%;
    font-size: 13px;
}
/*Fin de la configuracion del divMenu y sus elementos*/

#AdivFuncion{
    display: inline-block;
    width: 89%;
    padding-left: 0.5%;
    min-height: 100%;
    margin-left: 10%;
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border: 5px double #ff002b;
    /*overflow-y: scroll;*/
}

