html, body{
    width: 100%;
    min-height: 100%;
    background-image: url('../img/fondo.png');
}

form{
	width: 50%;
	margin: 0.5em auto;
}

form input{
	width: 98%;
	margin: 0.5em auto;
}

select option{
	width: 98%;
	margin: 0.5em auto;
}

form label{
	margin: 0.5em auto;
	color: #FFFFFF;
}
