html, body{
    background-image: url('../img/fondo.png');
    width: 100%;
    min-height: 100%;
}
header{
    border: thin solid;
    width: 100%;
    text-align: center;
}

.par{
    display: inline-block;
    vertical-align: top;
    width: 33%;
}
#imgLogoMTB{
    width: 50%;
    height: 50%;
}

#secCont{
    width: 100%;

}

#divCont{
    width: 100%;
    min-height: 100%;

}

/*Inicio de la configuracion del divMenu y sus elementos*/
#divMenu{

    display: inline-block;
    width: 10%;
    margin-left: 0.5%;
    position:fixed;
}

#divMenu ul{
    width: 100%;
}

#divMenu li{
    width: 90%;
    display: inline-block;
}

#divMenu nav li input{
    width: 100%;

}

.btnLi{
    font-size: 10px;
}
/*Fin de la configuracion del divMenu y sus elementos*/

#divCatalogo{
    display: inline-block;
    width: 89%;
}
