html, body{
    width: 100%;
    min-height: 100%;
    background-image: url('../img/fondo.png');
}

#divInfForm{
    width: 100%;
    min-height: 100%;
    text-align: center;
    margin: 0.5em auto;
}

#infEditada{
    display: inline-block;
    width: 50%;
    min-height: 50%;
    text-align: center;
    margin: 0.5em auto;
}

#idTxtTipo{
    display: inline-block;
    width: 100%;
}

#btnGuardar{
    display: inline-block;
    width: 100%;
}
