
html{
	width: 100%;
	min-height: 100%;
	background:#000000
}
header{
	height: 25%;
	width: 100%;
	background:#000000
}

#divImageLogo{
	width:50%;
	height:100%;
	margin: 0 auto;
	background:#000000

}

body{
	background:#000000;
	width: 100%;
	height: 100%
}

#imgLogoMTB{
	width:30%;
	height:10%;
	margin: 0 auto
}

#secInicioSesion{
	width: 100%;
	height: 100%;
	text-align: inherit;
	background:#000000
}

#divCont{
	width: 100%;
	height: 100%;
}

#divSesion{
	width: 40%;
	margin-left:10%;
	display: inline-block;
	/*overflow-y: scroll;*/
}

#divImgChava{
	width: 40%;
	display: inline-block;
}

#imgChica{
	width: 100%;
	height: 100%;
}

.MargCentro{
	width: 45%;
	margin: 0.5em auto;
}

#btnIniciar{
	width: 91%;
}

#parrafoCerrarSesion{
	text-align: left;
}

footer{
	text-align: center;
	width: 100%;
	background:#696969;

}



#divFacebook{

	height: 100%;
	display: inline-block;
	text-align: center;
}
#linkFacebook{
		display:block;
		width:4vw;
		height:4vw;
		text-indent:-9999px;
	display: inline-block;
	background: url("../img/facebook.ico") 0 0 no-repeat;
	background-size: 100% 100%;
	vertical-align: middle;
}

.divFooter{
	width: 40%;
	display: inline-block;
	text-align: center;
}

.elementoDivFacebook{
	
}

#texto{
	margin: 0.5em auto;
	text-align: center;
}