body {
    background-image: url('../img/fondo.png');
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

h2 {
    color: white;
}

#Contenedor{
    border: thin solid white;
    width: 100%;

}
#formDatos{
    width: 50%;
}
