body {
    background-image: url('../img/fondo.png');
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

h2 {
    color: white;
}

#formulario{
    border: thin solid white;
    margin: .5em auto !important;
    width: 100%;
}
#formDatos{
    width: 30%;
    text-align: center;
}
